<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/sakura.css" type="text/css" />
    <title>CIST IT XSS - self_xss</title>
  </head>
  <body>
    <h1>Self XSS</h1>
    <input placeholder="パスワードを入力" />
    <button type="button">送信</button>

    <p><small>注意：実際に使っているパスワードは入力しないでください</small></p>
  </body>
</html>
